<nav class="navbar">


    <div class="logo">
        <mat-icon>youtube_searched_for</mat-icon>
        <a href="#">AlwaysApply</a>
    </div>
   
    <div class="header">
        <a routerLinkActive="active1" routerLink="/home" class="navbar-links" >Home</a>
        <a routerLinkActive="active1" routerLink="/find/jobs" class="navbar-links" >Find Jobs</a>
        <a routerLinkActive="active1" routerLink="/about" class="navbar-links" >About Us</a>
        <a routerLinkActive="active1" routerLink="/contact" class="navbar-links" >Contact Us</a>
    </div>


    <div class="btn">
        <button routerLink="/signup" routerLinkActive="active" class="signup ">signup</button>
        <button routerLink="/login" routerLinkActive="active" class="login">login</button>
    </div>
</nav>