<div class="main">
  
  <div class="container">
    <div class="content-div">
      <p class="heading margin-class">
        Find a job that aligns with <br> <span class="span-tag"> your interests and skills</span>
      </p>
      <p class="sub-heading suggestion margin-class">
        Thousands of jobs in all leading sector waiting for you.
      </p>

      <div class="input-div margin-class">
        <p></p>
        <mat-icon class="searh">search</mat-icon>
        <input type="text" class="job-title" placeholder="Job title,Keyword.." />
        <div class="line-div"></div>
        <mat-icon>location_on</mat-icon>
        <input type="text" class="location" placeholder="Location"/>
        <button class="btn1">Find Job</button>
      </div>
      <p class="note margin-class">
        <span class="suggestion">Suggestion: </span>UI/UX
        Designer,Programming,<span class="digital-marketing">
          Digital Marketing,</span
        >Video,Animation.
      </p>
    </div>
    <div class="image-div"></div>
  </div>

  <div class="jobs-container">
    <div class="paragraphs">
        <h3 class="heading">Featured Jobs</h3>
        <p>Choose jobs from the top employers and apply for the same.</p>
    </div>

    <div class="main-job-container" >
        <div class="job-container"></div>
        <div class="job-container"></div>
        <div class="job-container"></div>

    </div>
    <a href="#">View all</a>

   <div class="hiring-now">
    <hr id="first-line" class="horizontal-line">
    <p >Top Companies hiring now</p>
    <hr class="horizontal-line">
   </div>

   <div class="company-images">
    <div id="google" class="companies"></div>
    <div id="microsoft" class="companies"></div>
    <div id="flipkart" class="companies"></div>
    <div id="youtube" class="companies"></div>
    <div id="ibm" class="companies"></div>
   </div>

  </div>
</div>

<app-footer></app-footer>