.container{
    margin-left: 100px;
    margin-right: 100px;
}

.headings{
    margin-top: 40px;
}

/* .main{ */
    /* width: 98vw; */
    /* background-color: lightgreen; */
/* } */

.filter-input-div{

    margin:30px auto 0 auto;
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #F7F7F7;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
}

button{
    margin-left: auto;
    margin-right: 40px;
    height:40px;
    background-color:  #6300B3;
    border: none;
    width: 130px;
    color: white;
    font-size: 17px;
    border-radius: 3px;
}

button:hover{
    color: #6300B3;
    background-color: white;
    border: 1px solid #6300B3;
}

input:focus{
outline: none;
}

input{
    border: none;
    background-color: #F7F7F7;
}

.flex-box{
    display: flex;
    gap: 10px;
}

mat-icon{
    color: #808080;
    margin-top: 8px;
}

.horizontal-line{
    height: 35px;
    background-color:#808080;
    width: 1px;
    margin-right: 20px;
}

input{
    height: 40px;
    width: 140px;
    margin-right: 20px;
}

.filter-container{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 50px;
    margin-top: 10px;
}

.filter{
width: 25%;
height: 1200px;
background-color: #F7F7F7;
border: 1px solid #F2F2F2;
border-radius: 5px;
}

.all-jobs{
    height: 100%;
    width: 70%;
}

.all-jobs{
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}
.job-container{
    padding: 15px;
    height: 250px;
    width: 370px;
    background-color: #F8F2FC;
    border-radius: 5px;
}

.content-div{
    margin-top: 60px;
    display: flex;
    gap: 80px;
    
}

.left{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.right{
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.first{
    font-size: 22px;
    font-weight: 600;
}

.option-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 170px;
    border:1px solid #F2F2F2;
    border-radius: 5px;
}
.selection-input{
    padding: 5px;
    height: 25px;
    width: 150px;
    border: none;
}

select:focus{
    outline: none;
}



hr{
    margin: 30px;
    background-color: #ACB2B9;
    color: #ACB2B9;
}

.filter p{
    margin: 25px 25px 0 25px;
    font-size: 17px;
    font-weight: 500;
}

.flex-boxes{
    margin: 0 15px 0 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}

.checkbox-input{
  padding: 0;
 margin: 0;
 height: 18px;
 width: 18px;
 background-color: lightgreen;
}


.salary-input{
 margin-right: 25px;   
}


.filter .salary-input{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.min-max{
    height: 20px;
    width: 100px;
    padding: 10px;
    border: 1px solid #DDE2E4;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 0;
}

.title-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-div mat-icon{
 margin-bottom: 15px;
}

.title{
    font-size: 20px;
    font-weight: 500;
}

.sub-title{
    font-size: 14px;
}

.span-sub{
    padding: 5px;
    color: #0BA02C;
    background-color: #E7F6EA;
    font-weight: 500;
}

.buttons{
    margin-top: 15px;
    display: flex;
    margin-left:30px;
}

.company-details {
    display: flex;
    margin-top: 25px;
    /* background-color: lightgreen; */
  }

  .img{
    height: 55px;
    width: 55px;
  background-image:url('../assets/google.png');
  background-size: cover;
  border-radius: 30px;
  }

  .location-details {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 10px;
  }
  
  .location-details p{
      line-height:1px;
      margin-top: 0px;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #767F8C;
  }

  .location p{
    margin-top: 12px;
    font-size: 14px;
}